$sub_primary: #31E6FF;
$primary: #FF008A;

* {
    box-sizing: border-box;
    position: relative;
}

html {
    font-size: 16px;
    // 1rem = 16px
}

// rem, em
// 반응형에 최적화된 단위

body {
    margin: 0;
    padding: 0;
    background: $sub_primary;
    font-family: 'Noto Sans KR', sans-serif;
}

a, a:link, a:visited{
    color: inherit;
    text-decoration: none;
}

h1, h2 {
    font-family: 'Bebas Neue', cursive;
    color: $primary;
    margin: 0;
    font-size: 2.8rem;
    text-align: center;
}

.background {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    position: absolute;
    padding: 0 1rem;
    span {
        display: block;
        height: 100%;
        background: linear-gradient(180deg, #17FF2F 0%,
        rgba(217, 217, 217, 0) 100%,
        rgba(217, 217, 217, 0) 100%);
        width: calc(100% / 9 - 2.7vw);
        margin-right: 2.7vw;

        &:last-child {
            margin-right: 0;
        }
    }
}

.door-line {
    height: 100vw;
    width: 20px;
    position: fixed;
    z-index: 100; // 쌓이는 요소, 수치가 높을수록 더 높은 곳에 위치, 포지션이 적용되어야 함

    margin-left: auto;
    margin-right: auto;
    background-color: $sub_primary;
    mix-blend-mode: difference;

    animation-name: rotate;
    animation-duration: 60s;
    animation-iteration-count: infinite; // 반복
    animation-timing-function: linear; // 속도에 변화가 없도록, 평균적인 속도를 유지하도록
    animation-fill-mode: forwards; // 애니메이션이 끝난뒤 마지막 상태를 유지할 수 있도록
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center; // 가로 정렬
    align-items: center; // 세로 정렬
    flex-direction: column; // 가운데 정렬

    h1 {
        position: absolute;
        bottom: 1.5rem;
    }
}

.logo-holder {
    display: flex;
    justify-content: center;

    img {
        width: calc((100vw - 2rem) / 12 * 7);
    }
}

.heart-holder {
    margin: 3.25rem 0;
}

.contents {
    max-width: 980px;
    margin: 10vh auto;
    padding: 0 1rem;
    p {
        font-size: 1.7rem;
        line-height: 1.7em;
        padding-bottom: 0;

        span {
            font-family: 'Bebas Neue', cursive;
            font-size: 1.05em;
        }
    }
}

table {
    background: #fff;
    border-top: 2px solid $primary;
    border-bottom: 2px solid $primary;
    border-collapse: collapse;
    width: 100%;

    tr, td, th {
        border: 1px solid #E2E2E2;
        border-left: none;
        border-right: none;
    }

    td, th {
        padding: 0.2em 0 0.3em;
    }
    td:nth-child(2) {
        font-weight: 700;
    }
}

.anchor-holder{
    a{
        display: block;
        text-align: center;
        font-size: 1.7rem;
    }
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1024px){
    .contents p{
        font-size: 1.4rem;

    }
}

@media screen and (max-width: 450px){
    .contents p{
        font-size: 1.2rem;

    }
}

@media screen and (max-width: 350px){
    .contents p{
        font-size: 1.1rem;

    }
}

// SCSS를 쓰는 이유
// 변수를 쓰기 위해서
// 스타일을 중첩하기 위해서